.animated-number {
  opacity: 0; /* Hidden initially */
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

[data-aos].aos-animate .animated-number {
  opacity: 1; /* Fade in */
}